# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/portfolio?retryWrites=true&w=majority

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sathishm1701@gmail.com
SMTP_PASS=jsxlyohkbkxpeksv
SMTP_FROM=noreply@sathishkumar.dev

# Site Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=Sathish Kumar M

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=5
# Google Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
